# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Database
*.db
*.db
instance/
__pycache__/
.pytest_cache/

# Flask
instance/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Logs
*.log

# Environment
.env

# macOS
.DS_Store
